<h1>Members List</h1>
<br>
<%= link_to 'New Member', new_member_path %>
<br>
<table style="width: 90%">
  <thead>
    <tr>
      <th style="text-align: left;">Name</th>
      <th style="text-align: left;">Short URL</th>
      <th style="text-align: left;">Number of Friends</th>
      <th style="text-align: left;">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.first_name + ' ' + member.last_name %></td>
        <td><%= member.short_url %></td>
        <td><%= member.friends_count %>
        <td><%= link_to 'Show', member %></td>
      </tr>
    <% end %>
  </tbody>
</table>
