<h1>Member Details</h1>

<% if flash[:error] %>
  <div class="alert alert-danger">
    <%= flash[:error] %>
  </div>
<% else %>
  <p>
    <strong>Name:</strong>
    <%= @member.first_name + ' ' + @member.last_name %>
  </p>

  <p>
    <strong>Website URL:</strong>
    <%= @member.url %>
  </p>

  <p>
    <strong>Short URL:</strong>
    <%= @member.short_url %>
  </p>

  <% if @headers %>
    <h2>Website Headers</h2>
    <table style="width: 80%">
      <thead>
        <tr>
          <th style="width: 20%; text-align: left;">Header Tag</th>
          <th style="text-align: left;">Header Content</th>
        </tr>
      </thead>
      <tbody>
        <% @headers.each do |header| %>
          <tr>
            <td><%= header.tag %></td>
            <td><%= header.content %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>

  <br>

  <% if @friends %>
    <h2>Friends</h2>
      <ul>
        <% @friends.each do |friend| %>
          <li><%= link_to friend.first_name + ' ' + friend.last_name, member_path(friend) %></li>
        <% end %>
      </ul>
  <% end %>

  <br>

  <%= form_with url: search_member_path(@member), method: :get, local: true do |form| %>
    <%= form.label :query, 'Search Topic for an Expert:' %>
    <%= form.text_field :query %>
    <%= form.submit 'Search' %>
  <% end %>

  <p>
    <%= link_to 'Add Friendship', new_friendship_path %>
  </p>
<% end %>

<p>
  <%= link_to 'Back to members list', members_path %>
</p>