<h1>Member Details</h1>

<p>
  <strong>Name:</strong>
  <%= @member.first_name + ' ' + @member.last_name %>
</p>

<p>
  <strong>URL:</strong>
  <%= @member.url %>
</p>

<p>
  <strong>Short URL:</strong>
  <%= @member.short_url %>
</p>

<%= link_to 'Add Friendship', new_friendship_path %>

<%= link_to 'Back to members list', members_path %>
